@page "/"

@inject TelemetryClient telemetryClient;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<button class="btn btn-primary" @onclick="@(async () => await telemetryClient.TrackExceptionAsync(new Exception("Test Exception")))">Trigger Test Exception</button>